.Article {
    margin-top:10px;
    margin-left: 50px;
    margin-right: 50px;
}

.Article hr {
    margin-top: 15px;
}

.Article:last-child hr {
    display: none;
}

.ArticleDescription {
    border-left: 3px solid black;
    padding-left: 10px;

    margin: 5px 18px 5px 18px;
}

.ArticleLinks {
    border-left: 3px solid #105b63;
    padding-left: 10px;

    margin: 5px 18px 5px 18px;
}

.ArticleTitle {
    margin-left: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}