.App {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

.App-header {
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
}

.Suggestions {
    margin-top: 10px;
    margin-left: 6%;

    font-size: 1.1em;

    list-style: none;
}

.SuggestionsWelcome {
    font-size: 1.1em;
    font-weight: bolder;
    margin: 5px;
}

.Suggestions li {
    margin-left: 20px;
    margin-bottom: 0.5rem;
}

.ArticleList {
    margin-left: 1.2em;
}

.EmptyResult {
    margin: 10px 50px;

    font-weight: bolder;
    font-size: 1.2em;
}

.MainContent {
    flex: 1 0 auto;
}

.Footer {
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    background: #f9f9f9;
}

.TermHighlighted {
    background: aliceblue;
}

.MuiSnackbar-root {
    margin-top: 50px;
    margin-right: 50px;
}