.App {

}

.App-header {
  /*border: 1px solid black;*/
  /*background-color: #282c34;*/
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.BeforeSearch {
  margin: 10px 50px;

  font-weight: bolder;
  font-size: 1.2em;
}

.ArticleList {
  margin-left: 1.2em;
}

.EmptyResult {
  margin: 10px 50px;

  font-weight: bolder;
  font-size: 1.2em;
}