html,
body {
    margin: 0;
    padding: 0;
}
html,body, #root {
    height: 100%;
}
body {
    font-family: 'Oswald', sans-serif;
    color: #ebebeb;

}

.App {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

.MainContent {
    flex: 1 0 auto;
    color: #333;
    padding: 0.5rem;

}
.Footer {
    background-color: darkolivegreen;
    padding: 0.5rem;

}